@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot)/*tpa=http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot*/;
}
